
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover,a:visited, a:active {
    color: inherit;
}
    
.top-page {
    width: 100%;
    display: inline-block;
    background-color: cadetblue;
    padding: 10px 15px;
    margin: 0;
}
      
.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(5, 95, 53);
}

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: right;
}
  
.login {
    margin-left: 20px;
}

.date {
    justify-content: left;
}
      
.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.gl,
.link1 {
  margin-bottom: 20px;
  align-self: flex-end;
}
.logo{
    display: flex;
    justify-content: center;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}
      
.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.photo-grid {
    flex-direction: row;  /* Update this */
    align-items: center;
}
      
.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 3;
}
.footer-item2 {
    border: 1px solid #fff;
    background-color: #5995DA;
    height: 200px;
    flex: 1;
}


.caro_actions_prev{
    display:flex;
    align-self: center;
}
.caro_actions_next{
    display:flex;
    align-self: center;
}


 button {
        border-radius: 4px;
        border: 0;
        width: 50px;
        height: 50px;
        cursor: pointer;
       
}
        
 button:hover{
    background-color: gold;
}
        
button:active {
     border: 2px solid blue;
}
.photo-grid-item,
.caro_item-hidden {
border: 1px solid #fff;
width: 300px;
height: 300px;
display: none;
}

.caro_item-visible {
    display: block;
    }
.photo-grid-item img .photo-grid  {
    width: 100%;
    max-width: 300px;
    height: auto;
    }
}
}
 @media only screen and (max-width: 400px) {
    .first-item {
        order: -3;
    }
    .last-item {
        order: 2;
    }
}

